/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .flower-color-0{
  
  background-color: #E8F2E7;  
}

.flower-color-1{
  
  color: #D38BD4;  
}

.flower-color-2{
  
  color: #E3BE21;  
}

.flower-color-3{
  
  color: #4E713D;  
} */

.flower-color-0{
  
  background-color: #f7f7f7;  
}

.flower-color-1{
  
  color: #ff398f;  
}

.flower-color-2{
  
  color: #D38BD4;  
}